<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Symfacture{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href={{ asset('images/invoice.png') }}>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Symfacture</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  {# menu for authenticated user#}
                  {% if app.user %}

                    {% if 'ROLE_CUSTOMER' in app.user.getroles() %}
                    <li class="nav-item">
                      <a class="nav-link" href="#">Page1 - client</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Page2 - client</a>
                    </li>
                    {% endif %}
                    
                    {% if 'ROLE_PROFESSIONAL' in app.user.getroles() %}
                    <li class="nav-item">
                      <a class="nav-link" href={{ path('professional_index')}}>Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href={{ path('professional_customer_index')}}>Clients</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href={{ path('professional_quote_index')}}>Devis</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href={{ path('professional_invoice_index')}}>Factures</a>
                    </li>
                    {% endif %}

                  {# menu for anonymous user#}
                  {% else %}

                    <li class="nav-item">
                      <a class="nav-link" href="#">Page1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Page2</a>
                    </li>
                  {% endif %}
                    
                  
                </ul>
                <div>
                  {% if app.user %}
                  <a href={{ path('account_index') }} class="btn btn-light">Mon compte</a>
                  <a href={{ path('app_logout') }} class="btn btn-danger">Déconnexion</a>
                  {% else %}
                  <a href={{ path('app_login') }} class="btn btn-success">Connexion</a>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </nav>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
